<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 header__menu">
                <ul class="header__menu__list">
                    <li class="header__menu__item active">
                        <a href="/co-autoria">
                            <span>Co-autoria</span>                            
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="/areas-de-interesse">
                            <span>Áreas de interesse</span>
                        </a>
                    </li>                    
                </ul>
            </div>
            <div class="col-4 header__logo">
                <a href="/">
                    <img src="/assets/logo.png" alt="Logo">
                </a>
            </div>
            <div class="col-4 header__search">
                <form class="header__search__form">
                    <input type="text" class="header__search__field" required minlength="3"
                        placeholder="Digite um termo...">
                    <button type="submit" class="header__search__submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
</header>