<header class="header header-simple">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4 header__logo">
                <a href="/">
                    <img src="/assets/logo.png" alt="Logo">
                </a>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</header>