.home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    
    header, main, footer {
        flex-shrink: 0;
    }

    main {
        flex-grow: 1;
    }

    .cards {
        align-items: stretch;
        justify-content: center;
        padding: 100px 0;
    }

    .card {
        border: 3px solid #787878;
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
        max-width: 300px;
        padding: 72px 20px; 
        margin: 0 24px;

        &__icon {
            max-width: 60px;
        }

        &__title {
            font-size: 25px;
            line-height: 29px;
            margin: 12px 0 32px;
        }

        &__text {
            font-size: 15px;
            line-height: 18px;
            margin: 0;
        }
    }
}