body:not(.logged-in):not(.login){
    opacity: 0;
    visibility: hidden;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #dcdcdc;
    
    header, main, footer {
        flex-shrink: 0;
    }

    main {
        flex-grow: 1;
    }

    &__popup {
        background-color: #fff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        width: 90%;
        max-width: 450px;
        padding: 40px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 40px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        fieldset {
            width: 100%;
            max-width: 300px;
            padding: 0;
            margin: 0 0 24px;
        }

        label {
            display: block;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 8px;
        }

        input {
            background: #fff;
            border: 1px solid $border-color;
            border-radius: 8px;
            font-size: 16px;
            line-height: 20px;
            padding: 12px;
            width: 100%;
        }

        .btn-login {
            display: block;
            background-color: $primary-color;
            color: #fff;
            max-width: 200px;
            margin: 0 auto;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: darken($primary-color, 10);
            }
        }
    }
}