%scrollbar {
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
        background-color: lighten($primary-color, 40);
		border-radius: 15px;
	}
    
	&::-webkit-scrollbar-thumb {
        background-color: $primary-color;
		border-radius: 15px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: darken($primary-color, 5);
	}
}

%section-title{
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 32px;
	position: relative;

	&::after{
		border-bottom: 3px solid $primary-color;
		bottom: -8px;
		content: '';
		left: 0;
		position: absolute;
		width: 100%;
	}
}