@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@400;500;700&display=swap');

$font-family: "Ubuntu", "Arial", sans serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

$primary-color: #23a8ee;
$secondary-color: #f3f2f2;
$tertiary-color: #358ae8;

$title-color: #3e3b3b;
$text-color: #787878;

$border-color: #c5ced6;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;
