.btn-zoom_out {
    width: 30px; height: 30px;
    background: url('/assets/researchers-list-sprites.png') -10px -10px;
}

.btn-center_icon {
    width: 30px; height: 30px;
    background: url('/assets/researchers-list-sprites.png') -60px -10px;
}

.btn-zoom_in {
    width: 30px; height: 30px;
    background: url('/assets/researchers-list-sprites.png') -10px -60px;
}