.author-details{
    font-size: 16px;

    h2{
        border-bottom: 1px solid;
        padding-bottom: 8px;
    }

    .author{
        &__resume{
            margin-bottom: 24px;
        }

        &__graduation{
            margin-bottom: 24px;

            article{
                div{
                    margin-bottom: 8px;

                    &:first-child{
                        font-size: 18px;
                        font-weight: 700;

                        &:first-letter {
                            text-transform: uppercase;
                        }
                    }

                    &:last-child{
                        margin-bottom: 16px;
                    }
                }
            }

            a{
                background-color: $primary-color;
                color: #fff;
                font-weight: 700;
                display: inline-block;
                margin-top: 16px;
                margin-bottom: 40px;
                padding: 8px 16px;
                transition: all 0.15s ease-in-out;

                @include mq(md, min){
                    &:hover{
                        background-color: lighten($primary-color, 5);
                    }
                    
                    &:active{
                        background-color: darken($primary-color, 5);
                    }
                }
            }
        }
    }
}