.chart-productions{
    padding-top: 40px;
    padding-bottom: 80px;

    h2{
        @extend %section-title
    }

    &__view{
        margin-top: 40px;
    }

    #chart-productions{
        margin: auto;
    }
}