.graph{
    &__filter{
        letter-spacing: 0.05em;

        &__group{
            margin-bottom: 16px;
            border: 1px solid $border-color;
            border-radius: 5px;
            
            &.active{
                .graph__filter__title{
                    background-color: $primary-color;
                    border-color: $primary-color;
                    color: #fff;
    
                    &::before, &::after{
                        border-color: #fff;
                    }
                    
                    &::after{
                        transform: translateY(-50%) rotate(180deg);
                    }
                }

                .graph__filter__list{
                    max-height: 250px;
                    margin: 16px 8px 24px;
                }
            }
        }

        &__title{
            background-color: #fff;
            border: 1px solid $border-color;
            border-radius: 5px;
            color: $title-color;
            cursor: pointer;
            font-size: 18px;
            margin: -1px;
            padding: 14px 24px;
            position: relative;
            text-align: center;
            transition: all 0.15s ease-in-out;
            z-index: 1;            

            &::before, &::after{
                border: 1px solid $title-color;
                border-radius: 2px;
                content: '';
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.15s ease-in-out;
                width: 12px;
            }

            &::after{
                transform: translateY(-50%) rotate(90deg);
            }
        }

        &__list{
            margin-top: 0;
            margin-bottom: 0;
            max-height: 0;
            overflow: auto;
            transition: all 0.2s ease-in-out;
            
            @extend %scrollbar;
        }

        &__item{
            margin: 8px;
            font-size: 16px;
            position: relative;
            padding-left: 24px;

            input{
                display: none;

                &:checked + label{
                    text-shadow: 1px 0px 0px;

                    &::after{
                        background-color: $tertiary-color;
                    }
                }
            }
            
            label{
                cursor: pointer;
                transition: all 0.15s ease-in-out;

                @include mq(md, min){
                    &:hover{
                        text-shadow: 1px 0px 0px;
                        color: $title-color;
                    }
                }

                &::before, &::after{
                    content: '';
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.15s ease-in-out;
                }

                &::before{
                    border: 1px solid $border-color;
                    left: 0;
                    padding: 7px;
                }

                &::after{
                    background-color: transparent;
                    left: 4px;
                    padding: 4px;
                }
            }
        }

        &__year-group{
            padding: 0 15px 24px;
        }

        &__year-title{
            border-bottom: 1px solid $border-color;
            color: #3e3b3b;
            text-align: center;
            font-size: 18px;
            padding-bottom: 8px;
        }
        
        .noUi-connect {
            background: $primary-color;
            border-radius: 0px;
        }

        .noUi-horizontal {
            height: 5px;
        }

        .noUi-handle::after,
        .noUi-handle::before {
            display: none;
        }

        .noUi-horizontal .noUi-handle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            //left: 10px;
        }

        .noUi-handle {
            border: 1px solid $primary-color;
            background: #fff;
        }
        
        .noUi-target {
            background: #e0e7ea;
            border: none;
        }
    }
}