.graph{
    padding-top: 40px;
    padding-bottom: 40px;
    
    &__content{        
        border: 1px solid $border-color;
        border-radius: 5px;
        min-height: calc(100vh - 100px);
    }

    h2{
        @extend %section-title
    }

    &__view{
        overflow: hidden;
        position: relative;
    }

    &__buttons{
        display: flex;
        position: absolute;
        top: 0;
        left: 15px;
        padding: 15px;

        button{
            align-items: center;
            background-color: $primary-color;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            height: 40px;
            justify-content: center;
            margin-right: 8px;
            outline: none;
            padding: 0;
            text-align: center;
            transition: all 0.15s ease-in-out;
            width: 40px;

            @include mq(md, min){
                &:hover{
                    background-color: lighten($primary-color, 7.5);
                }

                &:active{
                    background-color: darken($primary-color, 10);
                }
            }
        }

        i{
            display: block;
            filter: brightness(0) invert(1);
        }
    }

    &__search{
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        position: absolute;
        right: 15px;
        top: 0;
        text-align: left;
        max-width: 355px;
        width: 100%;

        &__form{
            flex: 0 0 100%;
            max-width: 100%;
        }

        &__field, &__submit{
            height: 40px;
        }

        &__field{
            border: 1px solid $border-color;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            padding: 5px 10px;
            margin-right: 8px;
            max-width: 200px;
            width: calc(100% - 120px);

            &::placeholder{
                color: lighten($text-color, 5);
            }
        }

        &__submit{
            border-radius: 5px;
            border: none;
            background-color: $primary-color;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            padding: 0 20px;
            transition: all 0.15s ease-in-out;
            width: 110px;

            @include mq(md, min){
                &:hover{
                    background-color: lighten($primary-color, 5);
                }

                &:active{
                    background-color: darken($primary-color, 5);
                }
            }
        }

        &__not-found{
            background-color: #fff;
            border: 1px solid $border-color;
            border-radius: 5px;
            color: $text-color;
            display: none;
            flex: 0 0 100%;
            font-size: 14px;
            max-width: 100%;
            margin-top: 8px;
            padding: 8px 10px;
            text-align: center;
        }

        &__result{
            align-items: center;
            background-color: #fff;
            border: 1px solid $border-color;
            border-radius: 5px;
            color: $text-color;
            display: none;
            flex: 0 0 100%;
            font-size: 16px;
            justify-content: space-between;
            max-width: 100%;
            margin-top: 8px;
            padding: 8px 10px;
            flex-wrap: wrap;

            &.active{
                display: flex;
            }

            &__message{
                flex: 0 0 60%;
                max-width: 60%;
            }

            span{
                color: $title-color;
                font-weight: bold;
            }

            &__options{
                flex: 0 0 40%;
                max-width: 40%;
                text-align: right;

                button{
                    background-color: $primary-color;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    display: inline-block;
                    margin: 0;
                    outline: none;
                    padding: 12px;
                    position: relative;
                    vertical-align: middle;
                    transition: all 0.15s ease-in-out;

                    &::before, &::after{
                        background-color: #fff;
                        content: '';
                        height: 3px;
                        width: 12px;
                        position: absolute;
                        top: 11px;
                        left: 6px;
                        transition: all 0.15s ease-in-out;
                    }

                    @include mq(md, min){
                        &:hover{
                            background-color: lighten($primary-color, 7.5);
                        }

                        &:active{
                            background-color: darken($primary-color, 5);
                        }
                    }
                }
            }

            &__prev{
                &::before{
                    transform: rotate(45deg);
                    max-width: 8px;
                    left: 10px!important;
                }

                &::after{
                    transform: rotate(-45deg);
                    max-width: 8px;
                }
            }

            &__next{
                &::before{
                    transform: rotate(-45deg);
                    max-width: 8px;
                    left: 10px!important;
                }

                &::after{
                    transform: rotate(45deg);
                    max-width: 8px;
                }
            }

            &__clear-search{
                &::before{
                    transform: rotate(45deg);
                }

                &::after{
                    transform: rotate(-45deg);
                }
            }

            &__toggle-list{
                &::before{
                    transform: rotate(0);
                }

                &.active{
                    &::before{
                        transform: rotate(90deg);
                    }
                }
            }

            &__list{
                flex: 0 0 100%;
                max-width: 100%;
                margin: 0;
                max-height: 0px;
                overflow-y: auto;
                padding-right: 8px;
                transition: all 0.25s ease-in-out;
                visibility: hidden;

                @extend %scrollbar;

                &.active{
                    max-height: 200px;
                    margin-top: 8px;
                    visibility: visible;
                }

                li{
                    align-items: center;
                    border-bottom: 1px solid $border-color;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    padding-bottom: 8px;

                    &:first-child{
                        border-top: 1px solid $primary-color;
                        padding-top: 16px;
                    }
                }

                span{
                    display: inline-block;
                    font-size: 14px;
                    font-weight: normal;
                }

                button{
                    align-items: center;
                    background-color: $primary-color;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    height: 30px;
                    justify-content: center;
                    outline: none;
                    padding: 0;
                    text-align: center;
                    transition: all 0.15s ease-in-out;
                    width: 30px;
        
                    @include mq(md, min){
                        &:hover{
                            background-color: lighten($primary-color, 7.5);
                        }
        
                        &:active{
                            background-color: darken($primary-color, 10);
                        }
                    }
                }
        
                i{
                    display: block;
                    filter: brightness(0) invert(1);
                    transform: scale(0.65);
                }
            }
        }
    }

    &__node-info{
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: 5px;
        color: $text-color;
        font-weight: bold;
        font-size: 14px;
        margin-left: -100%;
        max-height: 70vh;
        overflow-y: auto;
        opacity: 0;
        position: absolute;
        left: 15px;
        top: 70px;
        transition: all 0.25s ease-in-out;
        width: 250px;

        @extend %scrollbar;

        &.active{
            opacity: 1;
            margin-left: 15px;
        }

        > div{
            padding: 15px;
        }

        &__name{
            background-color: $primary-color;
            color: #fff;
        }

        h3{
            border-bottom: 1px solid $primary-color;
            color: $title-color;
            font-size: 16px;
            margin: 0 0 16px;
        }

        &__metrics{
            display: flex;
            flex-wrap: wrap;

            h3{
                flex: 0 0 100%;
                max-width: 100%;
            }

            ul{
                margin: 0;
            }
        }

        &__title{
            text-align: left;
        }

        &__value{
            border-bottom: 1px solid $border-color;
            color: #3e3b3b;
            font-size: 16px;
            font-weight: normal;
            margin: 8px auto 16px;
            padding-top: 8px;
            padding-bottom: 16px;
            text-align: left;
            
            span{
                font-size: 18px;
                font-weight: bold;
            }
        }        

        &__adjacent-nodes{
            
            ul{
                margin: 0;
                max-height: 200px;
                overflow-y: auto;

                @extend %scrollbar;
            }

            li{
                border-bottom: 1px solid $border-color;
                padding-bottom: 4px;
                margin-bottom: 8px;
            }
        }
    }
}