.network-metrics{
    background-color: darken($primary-color, 10);
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;

    &__title{
        h2{
            @extend %section-title;

            &::after{
                border-color: #fff;
            }
        }
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
    }

    &__item{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px;

        @include mq(lg, min){
            flex: 0 0 50%;
            max-width: 50%;
        }

        &__title{
            border-bottom: 2px solid #fff;
            color: $title-color;
            margin-bottom: 24px;
            padding: 0 15px;
            
            span{
                background-color: #fff;
                border: 2px solid #fff;
                border-radius: 5px 5px 0 0;
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: -2px;
                padding: 10px 15px;
            }
        }

        &__content{
            display: flex;
        }

        &__value{
            align-items: center;
            border-radius: 50%;
            border: 4px solid $border-color;
            background-color: #fff;
            color: $title-color;
            display: flex;
            font-size: 24px;
            height: 100px;
            justify-content: center;
            min-width: 100px;
            position: relative;

            span{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__description{
            font-size: 14px;
            padding: 0 15px;
            width: 100%;
        }

        &__main-node{
            font-size: 14px;
            padding: 0 15px 16px;
            width: 100%;

            &__title{
                border-bottom: 1px solid #fff;
                display: inline-block;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 8px;
                padding-bottom: 8px;
            }

            &__name{
                display: block;
            }

            &__degree{
                display: block;
            }
        }
    }
}