.search-result{
    &__title{
        h2{
            @extend %section-title;
        }
    }

    &__top-info{
        color: $title-color;
        font-size: 18px;
        font-weight: 700;
    }

    &__item{
        border-bottom: 1px solid $border-color;
        padding: 15px 0;
        margin-bottom: 16px;
        font-size: 16px;
    }

    &__pagination{
        &__list{
            margin: 24px auto;
            text-align: center;
        }

        &__item{
            border-bottom: 2px solid transparent;
            color: $title-color;
            display: inline-block;
            font-size: 18px;
            transition: all 0.15s ease-in-out;

            &.active{
                border-color: $primary-color;
                color: $primary-color;                
            }

            @include mq(md, min){
                &:hover{
                    color: lighten($primary-color, 5);

                    &::before{
                        border-color: lighten($primary-color, 5)!important;
                    }
                }

                &:active{
                    color: darken($primary-color, 5);

                    &::before{
                        border-color: darken($primary-color, 5)!important;
                    }
                }
            }

            &:first-child, &:last-child{
                position: relative;

                &::before{
                    border: solid $title-color;
                    border-width: 0 3px 3px 0;
                    content: '';
                    display: inline-block;
                    margin-top: 2px;
                    padding: 3px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &:first-child{
                padding-left: 8px;

                &::before{
                    left: 0;
                    transform: translateY(-50%) rotate(135deg);
                }
            }

            &:last-child{
                padding-right: 8px;

                &::before{
                    right: 0;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
        
        button{
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-weight: 700;
            outline: none;
        }
    }
}