<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Researchers List</title>

    <%- include('partials/loads-header.ejs') %>
</head>
<body class="author-details">
    <%- include('partials/header.ejs') %>

    <main>
        <section class="container">
            <div class="row">
                <div class="col-12 author__name"></div>
                <div class="col-12 author__resume"></div>
            </div>
        </section> 
        <section class="container author__graduation"></section>
    </main>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/loads-footer.ejs') %>
</body>
</html>