<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Researchers List</title>

    <%- include('partials/loads-header.ejs') %>
</head>

<body class="search-result-graph search-result-graph__production">
    <%- include('partials/header.ejs') %>

        <main>
            <section class="graph">
                <div class="container">
                    <div class="row">
                        <div class="col-12 graph__title">
                            <h2>Rede de Co-autoria</h2>
                        </div>
                        <div class="col-4 col-xl-3 graph__filter">
                            <div class="graph__filter__wrapper">
                                <div class="graph__filter__group active" data-type="type">
                                    <h3 class="graph__filter__title">Tipo de publicação</h3>
                                    <ul class="graph__filter__list"></ul>
                                </div>
                                <div class="graph__filter__group graph__filter__year-group">
                                    <h3 class="graph__filter__year-title">Ano</h3>
                                    <div class="graph__filter__year-slider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-xl-9 graph__view">
                            <div class="graph__content"></div>
                            <div class="graph__buttons">
                                <button class="graph__buttons__center" aria-label="Centralizar mapa">
                                    <i class="btn-center_icon"></i>
                                </button>
                                <button class="graph__buttons__zoom-in" aria-label="Aumentar zoom">
                                    <i class="btn-zoom_in"></i>
                                </button>
                                <button class="graph__buttons__zoom-out" aria-label="Diminuir zoom">
                                    <i class="btn-zoom_out"></i>
                                </button>
                            </div>
                            <div class="graph__search">
                                <form class="graph__search__form">
                                    <input type="text" class="graph__search__field" required minlength="3"
                                        placeholder="Digite um termo...">
                                    <button type="submit" class="graph__search__submit">Pesquisar</button>
                                </form>
                                <div class="graph__search__not-found">
                                    Não encontramos nenhum resultado para o termo informado ):
                                </div>
                                <div class="graph__search__result">
                                    <div class="graph__search__result__message">
                                        Resultado <span class="graph__search__result__actual">1</span> de <span
                                            class="graph__search__result__total-found">1</span>
                                    </div>
                                    <div class="graph__search__result__options">
                                        <button class="graph__search__result__prev" aria-label="Ver anterior"></button>
                                        <button class="graph__search__result__next" aria-label="Ver próximo"></button>
                                        <button class="graph__search__result__clear-search"
                                            aria-label="Limpar busca"></button>
                                        <button class="graph__search__result__toggle-list active"
                                            aria-label="Exibir/ocultar lista"></button>
                                    </div>
                                    <ul class="graph__search__result__list"></ul>
                                </div>
                            </div>
                            <div class="graph__node-info">
                                <div class="graph__node-info__name"></div>
                                <div class="graph__node-info__link"></div>
                                <div class="graph__node-info__metrics">
                                    <h3>Métricas</h3>
                                    <ul></ul>
                                </div>
                                <div class="graph__node-info__adjacent-nodes">
                                    <h3></h3>
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="network-metrics">
                <div class="container">
                    <div class="row">
                        <div class="col-12 network-metrics__title">
                            <h2>Métricas da Rede</h2>
                        </div>
                        <div class="col-12 network-metrics__list">
                            <div class="network-metrics__item network-metrics__density">
                                <div class="network-metrics__item__title">
                                    <span>Densidade</span>
                                </div>
                                <div class="network-metrics__item__content">
                                    <div class="network-metrics__item__value">
                                        <span>0</span>
                                    </div>
                                    <div class="network-metrics__item__description">
                                        Quanto maior a densidade do grafo e mais próxima de 1, mais ligado ele se mostra, e melhor será o fluxo de dados dentro dele.
                                    </div>
                                </div>
                            </div>
                            <div class="network-metrics__item network-metrics__diameter">
                                <div class="network-metrics__item__title">
                                    <span>Diâmetro</span>
                                </div>
                                <div class="network-metrics__item__content">
                                    <div class="network-metrics__item__value">
                                        <span>0</span>
                                    </div>
                                    <div class="network-metrics__item__description">
                                        Esta medida tem por finalidade determinar o valor máximo obtido entre todos os menores caminhos avaliados entre dois nós do grafo, ou seja, o maior caminho mínimo.
                                    </div>
                                </div>
                            </div>
                            <div class="network-metrics__item network-metrics__giant-coeficient">
                                <div class="network-metrics__item__title">
                                    <span>Coeficiente Gigante</span>
                                </div>
                                <div class="network-metrics__item__content">
                                    <div class="network-metrics__item__value">
                                        <span>0</span>
                                    </div>
                                    <div>
                                        <div class="network-metrics__item__main-node">
                                            <span class="network-metrics__item__main-node__title">Componente Gigante</span>
                                            <span class="network-metrics__item__main-node__name"></span>
                                            <span class="network-metrics__item__main-node__degree"></span>
                                        </div>
                                        <div class="network-metrics__item__description">
                                            Esta medida nos permite determinar o percentual de nós que são parte do componente gigante, ou componente principal, que é o componente conectado ao maior número de nós.
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="chart-productions">
                <div class="container">
                    <div class="row">
                        <div class="chart-productions__title col-12">
                            <h2>Tipos de Publicação</h2>
                        </div>
                        <div class="chart-productions__view col-12">
                            <canvas id="chart-productions" style="width:100%;max-width:800px"></canvas>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
            <%- include('partials/loads-footer.ejs') %>
</body>

</html>