<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Researchers List</title>

    <%- include('partials/loads-header.ejs') %>
</head>
<body class="home">
    <%- include('partials/header.ejs') %>

    <main>
        <section class="container">
            <div class="row cards">
                <article class="col-3 card">
                    <a href="/areas-de-interesse">
                        <img class="card__icon" src="/assets/icon-people.png">
                        <h2 class="card__title">Pessoas</h2>
                        <p class="card__text">
                            Veja quem são as pessoas da instituição, qual é seu perfil e com quais
                            temáticas essas pessoas trabalham.
                        </p>
                    </a>
                </article>
                <article class="col-3 card">
                    <a href="/co-autoria">
                        <img class="card__icon" src="/assets/icon-book.png"/>
                        <h2 class="card__title">Produções</h2>
                        <p class="card__text">
                            Veja quais são as produções da instituição, qual é o seu perfil e
                            qual é a temática dessas produções.
                        </p>
                    </a>
                </article>
                <article class="col-3 card">
                    <img class="card__icon" src="/assets/icon-group.png"/>
                    <h2 class="card__title">Grupos de pesquisa</h2>
                    <p class="card__text">
                        Veja quais são os grupos de pesquisa da instituição,
                        qual é o seu perfil e quais são as temáticas desses grupos.
                    </p>
                </article>
            </div>
        </section>        
    </main>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/loads-footer.ejs') %>
</body>
</html>