<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Aegir</title>

    <%- include('partials/loads-header.ejs') %>
</head>
<body class="login">
    <%- include('partials/header-simple.ejs') %>

    <main>
        <section>
            <div class="login__popup">
                <h1 class="login__title">Login</h1>
                <form class="login__form">
                    <fieldset>
                        <label for="username">Usuário:</label>
                        <input id="username" minlength="3" required type="email"/>
                    </fieldset>
                    <fieldset>
                        <label for="password">Senha:</label>
                        <input id="password" minlength="8" required type="password"/>
                    </fieldset>
                    <fieldset >
                        <input id="login" class="btn-login" type="submit" value="Entrar">
                    </fieldset>
                </form>
            </div>
        </section>       
    </main>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/loads-footer.ejs') %>
</body>
</html>