<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <%- include('partials/loads-header.ejs') %>
</head>

<body class="search-page">
    <%- include('partials/header.ejs') %>

        <main>
            <section class="search-page">
                <div class="container">
                    <div class="row">
                        <div class="col-12 search-page__title">
                            <h1>Resultado da busca</h1>
                        </div>
                        <div class="col-12 search-page__count">
                            Foram encontrados <span>0</span> resultados para a sua busca.
                        </div>
                        <!-- <div class="col-4 col-xl-3 search-page__filter">
                            
                        </div> -->
                        <div class="col-12 search-page__results">
                            
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
            <%- include('partials/loads-footer.ejs') %>
</body>

</html>