.header{
    box-shadow: 0 6px 6px -8px #ccc;
    background-color: #fff;
    color: $text-color;
    letter-spacing: 0.05em;
    position: sticky;
    top: 0;
    z-index: 20;

    .row{
        align-items: stretch;
    }

    &__logo{
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;

        img{
            max-width: 100px;
        }
    }

    &__search{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 15px;
        text-align: left;

        &__form{
        }

        &__field, &__submit{
            height: 40px;
        }

        &__field{
            border: 1px solid $border-color;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            padding: 5px 10px;
            margin-right: 8px;
            max-width: 200px;
            width: calc(100% - 120px);

            &::placeholder{
                color: lighten($text-color, 5);
            }
        }

        &__submit{
            border-radius: 5px;
            border: none;
            background-color: $primary-color;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            padding: 0 20px;
            transition: all 0.15s ease-in-out;
            width: 110px;

            @include mq(md, min){
                &:hover{
                    background-color: lighten($primary-color, 5);
                }

                &:active{
                    background-color: darken($primary-color, 5);
                }
            }
        }
    }
}