.header{
    &__menu{
        &__list{
            margin: 0;
        }

        &__item{
            display: inline-block;
            font-weight: 500;
            font-size: 15px;

            &.active{
                background-color: $primary-color;
                color: #fff;

                span::before{
                    border-color: #fff;
                }
            }
        }

        a{
            display: block;
            padding: 30px 15px;

            @include mq(md, min){
                &:hover{
                    span:before{
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
            }
        }
        
        span{
            display: block;
            position: relative;
    
            &::before{
                border: 2px solid $primary-color;
                content: '';
                left: 0;
                right: 0;
                position: absolute;
                bottom: -8px;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.4s;
            }
        }
    }
}