.search-page{
    
    main{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__title{
        h1{
            @extend %section-title
        }
    }

    &__count{
        display: none;
        font-size: 14px;
        margin-bottom: 8px;

        &.active{
            display: block;
        }

        span{
            font-weight: 700;
        }
    }

    &__results{
        &__empty-search{
            text-align: center;
            font-size: 18px;
            max-width: 400px;
            margin: 40px auto 100px;
        }

        &__item{
            color: $text-color;
            padding: 16px 0;
            border-bottom: 1px solid;
            margin-bottom: 16px;

            h3{
                color: $title-color;
                font-size: 18px;
                margin: 0 0 8px;
            }

            a{
                border-bottom: 2px solid;
                font-size: 15px;
                font-weight: 700;
            }

            &__resume{
                font-size: 14px;
                padding: 8px 0 16px;
            }
        }
    }
}